// $responsive là giá trị muốn muốn responsive
// $min: là giá trị nhỏ nhất bạn mong muốn
// $max: là giá trị lớn nhất bạn mong muốn
// $min or $max thường chỉ được 2/3 so với $responsive
// Ví dụ:
// h1 {
//     @include responsive-font(get-vw-hack(1030px, 60px), 30px, 60px);
// }

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
     $responsive-unitless: $responsive / ($responsive - $responsive + 1);
     $dimension: if(unit($responsive) == 'vh', 'height', 'width');
     $min-breakpoint: $min / $responsive-unitless * 100;
   
     @media (max-#{$dimension}: #{$min-breakpoint}) {
       font-size: $min;
     }
   
     @if $max {
       $max-breakpoint: $max / $responsive-unitless * 100;
   
       @media (min-#{$dimension}: #{$max-breakpoint}) {
         font-size: $max;
       }
     }
   
     @if $fallback {
       font-size: $fallback;
     }
   
     font-size: $responsive;
 }
   
 // Có container là 1600 cho pc
 @function get-vw($target) {
     $vw-context: (1600 * 0.01) * 1px;
     @return ($target / $vw-context) * 1vw;
 }
 
 // Có container là 640 cho sp
 @function get-vw-sp($target) {
     $vw-context: (640 * 0.01) * 1px;
     @return ($target / $vw-context) * 1vw;
 }
 
 // $width là Responsive breakpoints
 // $xs: 320px;
 // $sm: 640px;
 // $md: 768px;
 // $pc: 1030px;
 // $lg: 1300px;
 // $xl: 1600px;
 // $rentina: 2000px;
 @function get-vw-hack($width, $size) {
     $vw-context: $width * 0.01;
     @return ($size / $vw-context) * 1vw;
 }
 
 // Ví dụ:
 // <div class='item' styles='width: 230px;'>
 //     <p>ABc</p>
 // </div>
 // Muốn p có padding-top là 17px
 // padding-top: calc-percent(17, 230);
 @function calc-percent($target, $container) {
     @return ($target / $container) * 100%;
 }
 
 

 ////////////////////////////////////////////////////////////////////////
*{
     margin:0px;
     padding: 0px;
     font-family: "Cicle Fina","Adobe Invis Font","KozGoPr6N-Regular";

}
.block{
     display: inline-block;
}
.icon__menu{
     display: none;
}
.container{
     max-width: 1021px;
     margin: 0px auto;

     header{
          text-align: right;
          & .header__contact{
               display: flex;
               justify-content: flex-end;
               padding:18px 0px 1px;
               border-bottom: 2px dotted #877E7B;
               align-items: center;
               & > p{
                    margin-right: 12px;
                    @include responsive-font(get-vw-hack(1021px,11px), 9px, 11px);
               }
               &--phone__number{
                    display: flex;
                    justify-content: space-between;
                    & img{
                         width: 13px;
                         height: 19px;
                         margin-top: 2px;
                    }
                    & p{
                         white-space: nowrap;
                         margin-left: 8px;
                         @include responsive-font(get-vw-hack(1021px,21px), 18px, 21px);
                    }
               }
          }
     }
     nav{
          margin-top: 20px;
          & .nav{
               display: flex;
               justify-content: space-between;
               align-items: center;
               & > p{
                    @include responsive-font(get-vw-hack(1021px,30px), 26px, 30px);
                    letter-spacing: 4px;
               }
               &__menu{
                    & ul{
                         display: flex;
                         justify-content: space-between;
                         list-style: none;
                         & li{
                              border-left: 1px solid #D9D8D7;
                              & a{
                                   text-decoration: none;
                                   color:#6B6B6B;
                                   & h5{
                                        @include responsive-font(get-vw-hack(1021px,14px), 12px, 14px);
                                        font-weight: normal;
                                        padding: 3px 24px 0px 14px;
                                   }
                                   & p{
                                        @include responsive-font(get-vw-hack(1021px,10px), 10px, 10px);
                                        padding: 0px 24px 3px 14px;
                                   }
                              }
                              &:hover{
                                   background-color: gray;
                                   & a{
                                        color: #FFF;
                                   }
                              }
                         }
                    }
               }
          }
     }
     .big__img{
          margin-top: 25px;
          & img{
               width: 100%;
          }
     }
     .content{
          display: flex;
          margin-top: 30px;
          flex-wrap: wrap;
          width: 100%;
          & .left{
               max-width: 331px;
               margin-right: auto;
               & .schedule{
                    background-image: url("/img/pic_bg_schedule.png");
                    background-repeat: no-repeat;
                    text-align: center;
                    padding-bottom: 12px;
                    padding-left: 13px;
                    padding-right: 10px;
                    &--text{
                         margin-left: 17px;
                         // margin-right: 10px;
                         padding-top: 28px;
                         margin-bottom: 17px;
                         display: flex;
                         justify-content: space-between;
                         align-items: flex-end;
                         & h3{
                              font-weight: normal;
                              @include responsive-font(get-vw-hack(1021px,20px), 18px, 20px);
                              letter-spacing: 3px;
                         }
                         & p{
                              @include responsive-font(get-vw-hack(1021px,12px), 10px, 12px);
                              letter-spacing: 0.8px;
                              margin-bottom: 3px;
                         }
                    }
                    & > img{
                         width: 100%;
                    }
                    & > p{
                         text-align: left;
                         margin-left: 17px;
                         @include responsive-font(get-vw-hack(1021px,11px), 9px, 11px);
                         letter-spacing: 0.65px;
                    }
               }
               & .map{
                    margin-top: 10px;
                    background-color: #F8F8F8;
                    padding:12px;
                    & img{
                         margin-bottom: 10px;
                         width: 100%;
                    }
                    &--text{
                         display: flex;
                         justify-content: space-between;
                         & > p{
                              @include responsive-font(get-vw-hack(1021px,12px), 10px, 12px);
                              letter-spacing: 0.9px;
                              line-height: 15px;
                         }
                         &__special{
                              background-image:url("/img/pic_bg_txt_special.jpg") ;
                              background-repeat: no-repeat;
                              
                              font-size: 0.6875rem;
                              & p{
                                   padding-left:13px;
                                   padding-right:15px;
                                   margin-top: 5px;
                              }
                         }
                    }
               }
               & .big__text{
                    margin-top: 11px;
                    @include responsive-font(get-vw-hack(1021px,20px), 18px, 20px);
                    background-image: url("/img/pic_bg_big_text.jpg");
                    background-repeat: no-repeat;
                    padding: 31px 0px 33px 29px;
               }
          }
          & .right{
               max-width: 677px;
               // & img{
               //      width: 100%;
               // }
               & > img{
                    margin-bottom: 14px;
               }
               & .img__block{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 14px;
               }
          }
     }
     .bottom{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 85px;
         .hot__news{
               display: flex;
               flex-wrap: wrap;
               max-width: 821px;
               width: 100%;
               margin-right: 5px;
               &--title{
                    max-width: 164px;
                    width: 100%;
                    background-image: url("/img/pic_bg_bottom_1.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    color: #FFF;
                    padding-left: 12px;
                    & h3{
                         @include responsive-font(get-vw-hack(1021px,40px), 36px, 40px);
                         // border-left: 1px solid #FFF;
                         margin-right: 47px;
                         margin-bottom: 9px;
                         padding-left: 13px;
                         padding-top: 20px;                     
                    }
                    & p{
                         padding-left: 18px;
                         margin-bottom: 35px;
                    }
                    
               }
               &--list{
                    max-width: 645px;
                    width: 100%;
                    & ul {
                         background-color: #F8F8F8;
                         // width: 100%;
                         list-style: none;
                         padding-top: 17px;
                         padding-left: 25px;
                         padding-right: 18px;
                         padding-bottom: 16px;
                         & li{
                              display: flex;
                              align-items: center;
                              border-bottom: 1px dotted #372823;
                              padding-top: 3px;
                              padding-bottom: 5px;
                              // padding-right: 168px;
                              // margin-right: 16px;
                              @include responsive-font(get-vw-hack(1021px,12.5px), 10.5px, 12.5px);
                              & p:first-child{
                                   margin-right: 27px;
                                   letter-spacing: 1px;
                                   white-space: nowrap;
                                   display: flex;
                                   align-items: center;
                                   &::before{
                                        content: url("/img/icon_arrow.png");
                                        margin-right: 14px;
                                        font-size: 18px;
                                   }
                              }

                         }
                    }
               }
         }
         .cirle{
          max-width: 181px;
          width: 100%;
          // background-image: url("/img/pic_bg_bottom_2.png");
          // background-size: cover;
          // background-repeat: no-repeat;
          background-color: #808081;
          color: white;
          // padding-left: 12px;
          border-radius: 100%;
          color: #FFF;
          & h3{
               font-weight: normal;
               @include responsive-font(get-vw-hack(1021px,40px), 36px, 40px);
               padding-top: 57px;
               margin-left: 11px;
               padding-left: 8px;
               border-left: 1px solid #FFF;
          }
          & p{
               margin-top: 3px;
               margin-left: 30px;
          }
     }
          
     }
}
footer{
     background-color: #F8F8F8;
     .page__top{

          text-align: center;
          padding-top: 37px;
          & p{
               background-color:#FFF;
               @include responsive-font(get-vw-hack(1021px,12px), 10px, 12px);
          }
     }
     .menu__link{
          max-width: 502px;
          width: 100%;
          margin: 26px auto 0px;
          & ul{
               list-style: none;
               display: flex;
               justify-content: space-around;
               flex-wrap: wrap;
               line-height: 28px;
               @include responsive-font(get-vw-hack(1021px,12px), 10px, 12px);
               & li{
                    margin-right: 5px;
                    & a{
                         text-decoration: none;
                         color:#000;
                    }
               }
          }
     }
     .contact{
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;
          margin-top: 21px;
          background-color: #FFF;
          padding:28px 0px 30px 0px;
          &--phone__number{
               display: flex;
               align-items: center;
               & img{
                    width: 16px;
                    height: 25px;
                    margin-right: 9px
               }
               & p{
                    @include responsive-font(get-vw-hack(1021px,30px), 26px, 30px);
                    letter-spacing: 2.2px;
               }
          }
          & h3{
               @include responsive-font(get-vw-hack(1021px,30px), 26px, 30px);
               font-weight: normal;
               letter-spacing: 3.8px;
          }
          & > p{
               @include responsive-font(get-vw-hack(1021px,12px), 10px, 12px);
               letter-spacing: 0.5px;
          }
          
     }
     .copy__right{
          margin-top: 19px;
          padding-bottom: 20px;
          text-align: center;
          @include responsive-font(get-vw-hack(1021px,12px), 10px, 12px);
          letter-spacing: 1px;
     }
}

@media screen and (max-width:1024px){
     .container{
          margin:0px calc-percent(5, 1024);

          .content{
               justify-content: space-around;
               & .left{
                    margin-right: 0px;
                    margin-bottom: calc-percent(5, 1024);
               }
          }
          .bottom{
               justify-content: space-around;
               .hot__news{
                    justify-content: space-around;
                    &--title{
                         margin-top: calc-percent(5, 1024);
                    }
                    &--list{
                         margin-top: calc-percent(5, 1024);
                    }
               }
               .cirle{
                    margin-top: calc-percent(5, 1024);
                    height: 181px;
               }
          }
     }
}
@media screen and(max-width:768px){
     .icon__menu{
          display: block;
          margin-right: calc-percent(10, 768);
     }
     .container{
          nav{
               .nav{
                    flex-wrap: wrap;
                    &__menu{
                         display: none;
                         width: 100%;
                         & ul{
                              justify-content: center;
                              flex-wrap: wrap;
                         }
                    }
               }
          }
          .content{
               .right{
                    & > img{
                         width: 100%;                      
                    }
                    & .img__block{
                         justify-content: space-around;
                         flex-wrap: wrap;
                         & img{
                              margin-top: calc-percent(5, 768);
                              margin-right: calc-percent(5, 768);
                         }
                    }
               }
          }
     }
}    
@media screen and(max-width:679px){
     .container{
          .content{
               .right{
                    & .img__block{
                         margin-bottom: 0px;

                    }
               }
          }
          .bottom{
               margin-top: calc-percent(14, 679);
          }
     }
}
@media screen and (max-width:450px){
     footer{
          .contact{
               &--phone__number{
                    margin-bottom: calc-percent(5, 450);
                    margin-left: calc-percent(5, 450);
               }
          }
     }
}
@media screen and (max-width:375px){
     .container{
          .content{
               .right{
                    & .img__block{
                         & img{
                              margin-right: 0px;
                              width: 100%;
                         }
                    }
               }
          }
     }
}