$font-size-small:12px;
$font-size-medium:13px;
$font-size-medium-2:15px;
$font-size-medium-3:19px;
$font-size-medium-4:17px;
$font-size-big:28px;
html {
     box-sizing: border-box;
   }
@media print {
     html, body {
          display: none;
     }
}
*{
     margin:0px;
     padding: 0px;
     -webkit-box-shadow: 0px 0px 0px rgb(51, 51, 51);
     -moz-box-shadow: 0px 0px 0px rgb(51, 51, 51);
     -o-box-shadow: 0px 0px 0px rgb(51, 51, 51);
     box-shadow: 0px 0px 0px rgb(51, 51, 51);
     font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
     color:#73523F;
     line-height: 20px;
}
*:before,
*:after {
  box-sizing: border-box;
}
.ml24{
     margin-left: 24px;
}
.mt5{
     margin-top: 5px;
}
.pdb25{
     padding-bottom: 25px;
}
.container--initial{
     max-width: 961px;
     margin: 0 auto;
}
.container{
     border-top: 4px solid #F0831E;
     .header{
          h1, p{
               font-size: $font-size-small;
               // line-height: 0px;
          }
          &--text__right{
               text-align: right;         
          }
          &__content{
               display: flex;
               justify-content: space-between;
               margin-right: 9px;
               margin-top: 21px;
               margin-bottom: 14px;
               &--img{
                    display: flex;
                    align-items: center;

               }
               &--text{
                    text-align: right;
                    &__phone__number{
                         display: flex;
                         justify-content: flex-end;
                         margin: 13px 0px;
                         p{
                              color: #F0831E;
                              font-size: $font-size-big;
                              font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
                         }
                         img{
                              width: 26px;
                              height: 23px;
                         }
                    }
                    &__content{
                         color: #745443;
                         &__day__off{
                              color:#F0831E;
                         }
                         line-height: 20px !important;
                    }
                    
               }
          }
     }
     .nav{
          border-bottom: 1px solid #CCC6C2;
          border-top: 1px solid #CCC6C2;
          &--icon__menu{
               display: none;
          }
          &__menu{
               font-size: 15px;
               display: flex;
               justify-content: space-between;
               list-style: none;
               padding:5px 0px 0px 0px;
               & li{
                    display: flex;
                    padding: 15px 0px 15px 0px;
                    justify-content: center;
                    width: 100%;
                    position: relative;
                    background-image: url("/images/pic_bg_nav_no_hover.png");
                    background-repeat: no-repeat;

                    a{
                         text-decoration: none;
                         color: #66402b;
                         font-weight: bold;
                    }
                    &:last-child{
                         padding-right: 1px;
                    }
                    &:hover{
                         background-image: url("/images/pic_bg_nav_hover.png");
                         background-repeat: no-repeat;
                         background-size: 138px 45px;
                         & a{
                              color:#FFF;
                         }
                    }
                    .dropdown{
                         position: absolute;
                         top:100%;              
                         width: 100%;
                         display: none;
                         li{
                              background-color: #FFC472;
                              border-bottom: 1px solid #D8A260;
                              background-image: none;
                              display: flex;                  
                              &:hover{
                                   // padding-top: 5px;
                                   background-image: url("/images/pic_dropdown_bg.png") ;
                                   background-repeat: no-repeat;
                                   background-size: 90% 80%;
                                   background-position: center;
                                   a{
                                        color:#FFF;
                                   }
                              }
                              & a{
                                   font-size: $font-size-small; 
                                   color: #66402b;                             
                              }
                         }
                    }
                    &:hover .dropdown{
                         display: block;
                    }
               }
               
          }
     }
     .big__img{
          // width: 100%;
          background-image: url("/images/pic_bg_big_img.png");
          background-repeat: no-repeat;
          background-size: cover;
          & img{
               width: 100%;
               height: auto;
               margin-top: 13px;
          }
     }
     .content{
          display: flex;
          margin-bottom: 42px;
          &__left{
               width: 75%;
               margin:0px 29px 0px 0px;
               &--block__1{
                    &--content{
                         display: flex;
                         justify-content: space-around;
                         margin-top: 14px;
                         &__img{
                              width: 40%;
                              margin-right: 23px;
                              img{
                                   width: 100%;
                                   height: auto;
                              }
                         }
                         &__text{
                              width: 60%;
                              font-size: $font-size-medium;
                              text-align: justify;
                              &--list{
                                   h4{
                                        font-weight: normal;
                                   }
                                   ul li{
                                        margin-left: 19px;
                                        font-weight: bold;
                                   }
                              }
                         }
                    }
               }
               &--block__2{
                    &--list{
                         display: flex;
                         justify-content: space-between;
                         margin-top: 25px;
                         &__item{
                              position: relative;
                              max-width: 221px;
                              border: 1px solid #D9D9D9;
                              img{
                                   width: 100%;
                              }
                              &--content{
                                   margin:13px 13px 10px 14px;
                                   font-size: $font-size-medium;
                                   text-align: justify;
                                   height: 112px;
                                   
                              }
                              button{
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                   color: #FFF;
                                   background-color:#FE9407;
                                   border: none;
                                   border-radius: 5px 5px 5px 5px;
                                   width: 90%;
                                   height: 31px;
                                   margin: 25px 13px 14px 13px;
                                   
                                   &::before{
                                        content: "\25B6";
                                        font-size: 10px;
                                        margin-right: 5px;
                                   }
                              }

                         }
                    }
               }
               &--block__3{
                    position: relative;
                    .special__link{
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         position: absolute;
                         font-size: $font-size-medium;
                         top:40px;
                         right: 10px;
                         color: #FFF;
                         background-color:#FE9407;
                         border: none;
                         border-radius: 3px 3px 3px 3px;
                         width: 57px;
                         height: 17px;
                         padding: 7px;
                         width: auto;
                         &::before{
                              content: "\25B6";
                              font-size: 7px;
                              margin-right: 5px;
                         }
                    }
                    &--list{
                         ul{
                             list-style: none;
                              li{
                                   display: flex;
                                   align-items: center;
                                   border-bottom: 2px dotted #B2A097;                                   
                                   margin-top: 29px;
                                   margin-left: 0px;
                                   padding-bottom: 23px;
                                   padding-left: 14px;
                                   &::before{
                                        content: "\25B6";
                                        font-size: 10px;
                                        margin-right: 14px;
                                   }
                              }
                              
                         }

                    }
               }
          }
          &__right{
               flex-grow: 1;
               width: 25%;
               padding-top: 38px;
               &--block__text__1{
                    border: 5px double #E9DFD9;
                    padding: 0px 15px 0px 15px;
                    font-weight: bold;
                    &--title{
                         margin-top: 15px;
                         border-bottom: 2px solid #FFA935;
                         & h3{
                              font-size: $font-size-medium-4;
                         }
                    }
                    &--list{
                         margin-top: 19px;
                         & p{
                              border-bottom: 1px solid #E9DFD9;
                              font-size: $font-size-medium;
                              &::before{
                                   content: '';
                                   display: inline-block;
                                   width: 10px;
                                   height: 10px;
                                   border-radius: 100%;
                                   border: 3px solid #f0831e;
                                   margin-right: 10px;
                              }
                         }
                         & ul{
                              list-style: none;
                              & li{
                                   margin-left: 18px;
                                   & a{
                                        font-size: $font-size-small;
                                        text-decoration: none;
                                        color: #66402B;
                                        &::before{
                                             content: "\25B6";
                                             font-size: 10px;
                                             margin-right: 10px;
                                             color: #f0831e;
                                        }
                                   }
                              }
                         }
                    }
               }
               &--img__2{
                    margin-top: 21px;
               }
               & img{
                    margin-bottom: 21px;
                    width: 100%;
                    height: auto;
               }
               &--block__text__2{
                    border: 6px solid #E9DFD9;
                    padding:0px 21px 0px 22px;
                    &--title{
                         margin-top: 27px;
                         font-size: $font-size-medium-2;
                         font-weight: bold;
                    }
                    &--content__1{
                         font-size: $font-size-small;
                         margin: 19px 30px 18px 0px;
                    }
                    &--content__2{
                         font-size: $font-size-small;
                         margin-right: 4px;
                    }
                    &--phone__number{
                         font-size: 21px;
                         display: flex;
                         justify-content: center;
                         & img{
                              width: auto;
                              margin-top: 3px;
                              margin-right: 6px;
                         }
                    }
                    &--img{
                         width: 100%;
                         margin:14px 0px 0px 0px;
                    }
                    & button{
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         color: #FFF;
                         background-color:#FE9407;
                         border: none;
                         border-radius: 5px 5px 5px 5px;
                         width: 100%;
                         height: 31px;
                         margin: 15px 0px 22px 0px;
                         
                         &::before{
                              content: "\25B6";
                              font-size: 10px;
                              margin-right: 5px;
                         }
                    }
               }
          }

          &--title{
               border-bottom: 2px solid #FFF4E5;
               padding-top: 40px;
               // width: 100%;
               h2{
                    padding-left: 8px;
                    font-size: $font-size-medium-3;
                    border-bottom: 3px solid #FF9200;
                    width: 19%;
               }
          }
     }
     .footer{
          background-image: url("/images/pic_bg_footer.png");
          padding-top:36px;
          &__container{
               display: flex;
               // justify-content: space-between;
               &--block__1{
                    height: auto;
                    margin-right: 50px;
                    & img{
                         margin-bottom: 22px;
                    }
                    & p{
                         font-size: $font-size-small;
                         font-family: Meiryo , "Adobe Invis Font","KozGoPr6N Regular";
                    }
                    &--phone__number{
                         margin-top: 10px;
                         display: flex;
                         align-items: center;
                         & button{
                              background-image: url("/images/pic_dropdown_bg.png");
                              border: none;
                              border-radius: 3px;
                              font-size: $font-size-medium-2;
                              color:#FFF;
                              margin-right: 12px;
                              padding: 5px 18px;
                         }
                         & img{
                              margin: 0px 6px 0px 0px;
                         }
                         & p{
                              font-family: "Century Gothic" , "Adobe Invis Font" , "KozGoPr6N Regular";
                              font-size: $font-size-big;
                              color:#F0831E;
                         }

                    }
               }
               &--block__2{
                    margin-right: 20px;
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid #E7C9A9;
                    // padding:50px;
                    font-weight: bold;
                    height: auto;
                    &--list{
                         margin: 30px 20px 0px 30px;
                         padding-top:5px;
                         & ul{
                              list-style: none;
                              & li{
                                   display: flex;
                                   align-items: center;                                  
                                   padding-bottom: 5px;
                                   &::before{
                                        content: "\25B6";
                                        font-size: 10px;
                                        margin-right: 14px;
                                   }
                                   & a{
                                        text-decoration: none;
                                        color:#66402B;
                                        font-size: 14px;
                                   }
                              }
                         }
                    }

                    
               }
               &--block__3{
                    height: auto;
                    background-color: #FFF;
                    padding: 21px 35px 0 35px;
                    & p{
                         font-size: $font-size-medium-2;
                         margin-bottom: 10px;
                         &::before{
                              content: '';
                              display: inline-block;
                              width: 10px;
                              height: 10px;
                              border-radius: 100%;
                              border: 3px solid #f0831e;
                              margin-right: 10px;
                         }
                    }
                    & ul{
                         list-style: none;
                         margin-bottom: 5px;
                         & li{
                              display: flex;
                                   align-items: center;                                  
                                   padding-bottom: 5px;
                                   &::before{
                                        content: "\25B6";
                                        font-size: 10px;
                                        margin-right: 14px;
                                   }
                              & a{
                                   font-size: $font-size-medium;
                                   text-decoration: none;
                                   color:#66402B;
                              }
                         }
                    }
               }
          }
          &--copyright{
               background-image: url("/images/pic_bg_copyright.png");
               text-align: center;
               margin-top: 40px;
               padding: 7px 0px;
               & p{
                    font-size: $font-size-medium;
                    color: #FFF;
               }
          }
     }
}
@media screen and (max-width: 960px) {
     .header , .content{
          margin: 0px 5px;
     }
     .container{
          .content{
               &__left{
                    &--block__2{
                         &--list{
                              justify-content: space-around;
                              flex-wrap: wrap;
                         }
                    }
               }
          }
          .footer{
               &__container{
                    &--block__1{
                         margin-left: 5px;
                    }
               }
          }
     }
}
@media screen and (max-width: 768px){
     .container{
          .nav{
               &--icon__menu{
                    position: relative;
                    display: block;
                    width:10rem;
                    height: auto;
                    margin-left: 3rem;
               }
               &__menu{
                    display: none;
                    left:3rem;
                    & li{
                         background-image: none;
                         width: 10rem;
                         text-align: center;
                         &:hover{
                              background-image: url("/images/pic_dropdown_bg.png");
                              background-size: cover;
                         }
                    }
                    &--dropdown{
                         position: absolute;
                         top:0%;
                         left:100%;              
                         width: 100%;
                         display: none;
                         li{
                              background-color: #FFC472;
                              border-bottom: 1px solid #D8A260;
                              background-image: none;
                              display: flex;                  
                              &:hover{
                                   // padding-top: 5px;
                                   background-image: url("/images/pic_dropdown_bg.png") ;
                                   background-repeat: no-repeat;
                                   background-size: 90% 80%;
                                   background-position: center;
                                   a{
                                        color:#FFF;
                                   }
                              }
                              a{
                                   font-size: $font-size-small;
                              }
                         }
                    }
               }
          }
          .content{
               flex-wrap: wrap;
               justify-content: center;
               &__left{
                    width: 100%;
                    margin:0;
                    &--block__2{
                         &--list{
                              justify-content: space-around;
                              flex-wrap: wrap;
                         }
                    }
               }
               &__right{
                    flex-grow: 0;
                    width: auto;
               }
               &--title{
                    & p{
                         width: 30%;
                    }
               }
          }
          .footer{
               &__container{
                    flex-wrap: wrap;
                    justify-content: space-around;
                    &--block__1{
                         text-align: center;
                         margin:0px
                    }
                    &--block__2{
                         margin:0px
                    }
               }
          }
     }

}
@media screen and (max-width: 668px){
     .container{
          .header{
               display: none;
          }
          .content{
               &__left{
                    &--block__1{
                         &--content{
                              flex-wrap: wrap;
                              &__img{
                                   width: auto;
                                   margin:0px;
                              }
                              &__text{
                                   width: 90%;
                              }
                         }
                    }
               }
               &__right{
                    width: auto;
               }
          }
     }
}
@media screen and(max-width: 510px) {
     .container{
          .content{
               &--title{
                    & h2{
                         width: 30%;
                    }
               }
          }
     }
}
@media screen and(max-width: 455px){
     .container{
          .content{
               &__left{
                    &--block__2{
                         &--list{
                              &__item{
                                   max-width: 100%;
                              }
                         }
                    }
               }
          }
     }
}
@media screen and(max-width: 327px){
     .container{
          .content{
               &--title{
                    & h2{
                         width: 50%;
                    }
               }
          }
     }
}
