html {
     box-sizing: border-box;
}
@media print {
     html,
     body {
          display: none;
     }
}
* {
     margin: 0px;
     padding: 0px;
     -o-box-shadow: 0px 0px 0px #333;
     box-shadow: 0px 0px 0px #333;
     font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
     color: #73523f;
     line-height: 20px;
}
*:before,
*:after {
     box-sizing: border-box;
}
.ml24 {
     margin-left: 24px;
}
.mt5 {
     margin-top: 5px;
}
.pdb25 {
     padding-bottom: 25px;
}
.container--initial {
     max-width: 961px;
     margin: 0 auto;
}
.container {
     border-top: 4px solid #f0831e;
}
.container .header h1,
.container .header p {
     font-size: 12px;
}
.container .header--text__right {
     text-align: right;
}
.container .header__content {
     display: flex;
     justify-content: space-between;
     margin-right: 9px;
     margin-top: 21px;
     margin-bottom: 14px;
}
.container .header__content--img {
     display: flex;
     align-items: center;
}
.container .header__content--text {
     text-align: right;
}
.container .header__content--text__phone__number {
     display: flex;
     justify-content: flex-end;
     margin: 13px 0px;
}
.container .header__content--text__phone__number p {
     color: #f0831e;
     font-size: 28px;
     font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.container .header__content--text__phone__number img {
     width: 26px;
     height: 23px;
}
.container .header__content--text__content {
     color: #745443;
     line-height: 20px !important;
}
.container .header__content--text__content__day__off {
     color: #f0831e;
}
.container .nav {
     border-bottom: 1px solid #ccc6c2;
     border-top: 1px solid #ccc6c2;
}
.container .nav--icon__menu {
     display: none;
}
.container .nav__menu {
     font-size: 15px;
     display: flex;
     justify-content: space-between;
     list-style: none;
     padding: 5px 0px 0px 0px;
}
.container .nav__menu li {
     display: flex;
     padding: 15px 0px 15px 0px;
     justify-content: center;
     width: 100%;
     position: relative;
     background-image: url("/images/pic_bg_nav_no_hover.png");
     background-repeat: no-repeat;
}
.container .nav__menu li a {
     text-decoration: none;
     color: #66402b;
     font-weight: bold;
}
.container .nav__menu li:last-child {
     padding-right: 1px;
}
.container .nav__menu li:hover {
     background-image: url("/images/pic_bg_nav_hover.png");
     background-repeat: no-repeat;
     background-size: 138px 45px;
}
.container .nav__menu li:hover a {
     color: #fff;
}
.container .nav__menu li .dropdown {
     position: absolute;
     top: 100%;
     width: 100%;
     display: none;
}
.container .nav__menu li .dropdown li {
     background-color: #ffc472;
     border-bottom: 1px solid #d8a260;
     background-image: none;
     display: flex;
}
.container .nav__menu li .dropdown li:hover {
     background-image: url("/images/pic_dropdown_bg.png");
     background-repeat: no-repeat;
     background-size: 90% 80%;
     background-position: center;
}
.container .nav__menu li .dropdown li:hover a {
     color: #fff;
}
.container .nav__menu li .dropdown li a {
     font-size: 12px;
     color: #66402b;
}
.container .nav__menu li:hover .dropdown {
     display: block;
}
.container .big__img {
     background-image: url("/images/pic_bg_big_img.png");
     background-repeat: no-repeat;
     background-size: cover;
}
.container .big__img img {
     width: 100%;
     height: auto;
     margin-top: 13px;
}
.container .content {
     display: flex;
     margin-bottom: 42px;
}
.container .content__left {
     width: 75%;
     margin: 0px 29px 0px 0px;
}
.container .content__left--block__1--content {
     display: flex;
     justify-content: space-around;
     margin-top: 14px;
}
.container .content__left--block__1--content__img {
     width: 40%;
     margin-right: 23px;
}
.container .content__left--block__1--content__img img {
     width: 100%;
     height: auto;
}
.container .content__left--block__1--content__text {
     width: 60%;
     font-size: 13px;
     text-align: justify;
}
.container .content__left--block__1--content__text--list h4 {
     font-weight: normal;
}
.container .content__left--block__1--content__text--list ul li {
     margin-left: 19px;
     font-weight: bold;
}
.container .content__left--block__2--list {
     display: flex;
     justify-content: space-between;
     margin-top: 25px;
}
.container .content__left--block__2--list__item {
     position: relative;
     max-width: 221px;
     border: 1px solid #d9d9d9;
}
.container .content__left--block__2--list__item img {
     width: 100%;
}
.container .content__left--block__2--list__item--content {
     margin: 13px 13px 10px 14px;
     font-size: 13px;
     text-align: justify;
     height: 112px;
}
.container .content__left--block__2--list__item button {
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     background-color: #fe9407;
     border: none;
     border-radius: 5px 5px 5px 5px;
     width: 90%;
     height: 31px;
     margin: 25px 13px 14px 13px;
}
.container .content__left--block__2--list__item button::before {
     content: "▶";
     font-size: 10px;
     margin-right: 5px;
}
.container .content__left--block__3 {
     position: relative;
}
.container .content__left--block__3 .special__link {
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     font-size: 13px;
     top: 40px;
     right: 10px;
     color: #fff;
     background-color: #fe9407;
     border: none;
     border-radius: 3px 3px 3px 3px;
     width: 57px;
     height: 17px;
     padding: 7px;
     width: auto;
}
.container .content__left--block__3 .special__link::before {
     content: "▶";
     font-size: 7px;
     margin-right: 5px;
}
.container .content__left--block__3--list ul {
     list-style: none;
}
.container .content__left--block__3--list ul li {
     display: flex;
     align-items: center;
     border-bottom: 2px dotted #b2a097;
     margin-top: 29px;
     margin-left: 0px;
     padding-bottom: 23px;
     padding-left: 14px;
}
.container .content__left--block__3--list ul li::before {
     content: "▶";
     font-size: 10px;
     margin-right: 14px;
}
.container .content__right {
     flex-grow: 1;
     width: 25%;
     padding-top: 38px;
}
.container .content__right--block__text__1 {
     border: 5px double #e9dfd9;
     padding: 0px 15px 0px 15px;
     font-weight: bold;
}
.container .content__right--block__text__1--title {
     margin-top: 15px;
     border-bottom: 2px solid #ffa935;
}
.container .content__right--block__text__1--title h3 {
     font-size: 17px;
}
.container .content__right--block__text__1--list {
     margin-top: 19px;
}
.container .content__right--block__text__1--list p {
     border-bottom: 1px solid #e9dfd9;
     font-size: 13px;
}
.container .content__right--block__text__1--list p::before {
     content: "";
     display: inline-block;
     width: 10px;
     height: 10px;
     border-radius: 100%;
     border: 3px solid #f0831e;
     margin-right: 10px;
}
.container .content__right--block__text__1--list ul {
     list-style: none;
}
.container .content__right--block__text__1--list ul li {
     margin-left: 18px;
}
.container .content__right--block__text__1--list ul li a {
     font-size: 12px;
     text-decoration: none;
     color: #66402b;
}
.container .content__right--block__text__1--list ul li a::before {
     content: "▶";
     font-size: 10px;
     margin-right: 10px;
     color: #f0831e;
}
.container .content__right--img__2 {
     margin-top: 21px;
}
.container .content__right img {
     margin-bottom: 21px;
     width: 100%;
     height: auto;
}
.container .content__right--block__text__2 {
     border: 6px solid #e9dfd9;
     padding: 0px 21px 0px 22px;
}
.container .content__right--block__text__2--title {
     margin-top: 27px;
     font-size: 15px;
     font-weight: bold;
}
.container .content__right--block__text__2--content__1 {
     font-size: 12px;
     margin: 19px 30px 18px 0px;
}
.container .content__right--block__text__2--content__2 {
     font-size: 12px;
     margin-right: 4px;
}
.container .content__right--block__text__2--phone__number {
     font-size: 21px;
     display: flex;
     justify-content: center;
}
.container .content__right--block__text__2--phone__number img {
     width: auto;
     margin-top: 3px;
     margin-right: 6px;
}
.container .content__right--block__text__2--img {
     width: 100%;
     margin: 14px 0px 0px 0px;
}
.container .content__right--block__text__2 button {
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     background-color: #fe9407;
     border: none;
     border-radius: 5px 5px 5px 5px;
     width: 100%;
     height: 31px;
     margin: 15px 0px 22px 0px;
}
.container .content__right--block__text__2 button::before {
     content: "▶";
     font-size: 10px;
     margin-right: 5px;
}
.container .content--title {
     border-bottom: 2px solid #fff4e5;
     padding-top: 40px;
}
.container .content--title h2 {
     padding-left: 8px;
     font-size: 19px;
     border-bottom: 3px solid #ff9200;
     width: 19%;
}
.container .footer {
     background-image: url("/images/pic_bg_footer.png");
     padding-top: 36px;
}
.container .footer__container {
     display: flex;
}
.container .footer__container--block__1 {
     height: auto;
     margin-right: 50px;
}
.container .footer__container--block__1 img {
     margin-bottom: 22px;
}
.container .footer__container--block__1 p {
     font-size: 12px;
     font-family: Meiryo, "Adobe Invis Font", "KozGoPr6N Regular";
}
.container .footer__container--block__1--phone__number {
     margin-top: 10px;
     display: flex;
     align-items: center;
}
.container .footer__container--block__1--phone__number button {
     background-image: url("/images/pic_dropdown_bg.png");
     border: none;
     border-radius: 3px;
     font-size: 15px;
     color: #fff;
     margin-right: 12px;
     padding: 5px 18px;
}
.container .footer__container--block__1--phone__number img {
     margin: 0px 6px 0px 0px;
}
.container .footer__container--block__1--phone__number p {
     font-family: "Century Gothic", "Adobe Invis Font", "KozGoPr6N Regular";
     font-size: 28px;
     color: #f0831e;
}
.container .footer__container--block__2 {
     margin-right: 20px;
     display: flex;
     justify-content: space-between;
     border: 1px solid #e7c9a9;
     font-weight: bold;
     height: auto;
}
.container .footer__container--block__2--list {
     margin: 30px 20px 0px 30px;
     padding-top: 5px;
}
.container .footer__container--block__2--list ul {
     list-style: none;
}
.container .footer__container--block__2--list ul li {
     display: flex;
     align-items: center;
     padding-bottom: 5px;
}
.container .footer__container--block__2--list ul li::before {
     content: "▶";
     font-size: 10px;
     margin-right: 14px;
}
.container .footer__container--block__2--list ul li a {
     text-decoration: none;
     color: #66402b;
     font-size: 14px;
}
.container .footer__container--block__3 {
     height: auto;
     background-color: #fff;
     padding: 21px 35px 0 35px;
}
.container .footer__container--block__3 p {
     font-size: 15px;
     margin-bottom: 10px;
}
.container .footer__container--block__3 p::before {
     content: "";
     display: inline-block;
     width: 10px;
     height: 10px;
     border-radius: 100%;
     border: 3px solid #f0831e;
     margin-right: 10px;
}
.container .footer__container--block__3 ul {
     list-style: none;
     margin-bottom: 5px;
}
.container .footer__container--block__3 ul li {
     display: flex;
     align-items: center;
     padding-bottom: 5px;
}
.container .footer__container--block__3 ul li::before {
     content: "▶";
     font-size: 10px;
     margin-right: 14px;
}
.container .footer__container--block__3 ul li a {
     font-size: 13px;
     text-decoration: none;
     color: #66402b;
}
.container .footer--copyright {
     background-image: url("/images/pic_bg_copyright.png");
     text-align: center;
     margin-top: 40px;
     padding: 7px 0px;
}
.container .footer--copyright p {
     font-size: 13px;
     color: #fff;
}
@media screen and (max-width: 960px) {
     .header,
     .content,
     .nav--responsive {
          margin: 0px 5px;
     }
     .container .content__left--block__2--list {
          justify-content: space-around;
          flex-wrap: wrap;
     }
     .container .footer__container--block__1 {
          margin-left: 5px;
     }
}
@media screen and (max-width: 768px) {
     .container .nav--icon__menu {
          position: relative;
          display: block;
          width: 10rem;
          height: auto;
          margin-left: 3rem;
     }
     .container .nav__menu {
          display: none;
          left: 3rem;
     }
     .container .nav__menu li {
          background-image: none;
          width: 10rem;
          text-align: center;
     }
     .container .nav__menu li:last-child {
          padding-right: 0px;
     }
     .container .nav__menu li:hover {
          background-image: url("/images/pic_dropdown_bg.png");
          background-size: cover;
     }
     .container .nav__menu li .dropdown {
          position: absolute;
          top: 0%;
          left: 100%;
          width: 100%;
          display: none;
     }
     .container .content {
          flex-wrap: wrap;
          justify-content: center;
     }
     .container .content__left {
          width: 100%;
          margin: 0;
     }
     .container .content__left--block__2--list {
          justify-content: space-around;
          flex-wrap: wrap;
     }
     .container .content__right {
          flex-grow: 0;
          width: auto;
     }
     .container .content--title p {
          width: 30%;
     }
     .container .footer__container {
          flex-wrap: wrap;
          justify-content: space-around;
     }
     .container .footer__container--block__1 {
          text-align: center;
          margin: 0px;
     }
     .container .footer__container--block__2 {
          margin: 0px;
     }
}
@media screen and (max-width: 668px) {
     .container .header {
          display: none;
     }
     .container .content__left--block__1--content {
          flex-wrap: wrap;
     }
     .container .content__left--block__1--content__img {
          width: auto;
          margin: 0px;
     }
     .container .content__left--block__1--content__text {
          width: 90%;
     }
     .container .content__right {
          width: auto;
     }
}
@media screen and (max-width: 510px) {
     .container .content--title h2 {
          width: 30%;
     }
}
@media screen and (max-width: 455px) {
     .container .content__left--block__2--list__item {
          max-width: 100%;
     }
}
@media screen and (max-width: 327px) {
     .container .content--title h2 {
          width: 50%;
     }
}
@media screen and (max-width: 300px) {
     .container .footer__container--block__1 img {
          margin: 0px;
     }
}
