
body{
     background-color: black;
     color:white
}
.colo-grey{
     color:grey;
}
#left-content{   


}
#right-content{
     background-color: #424242;
     min-height: 50vh;
}
.clear{
     clear: both;
 }
.float-left{
     float: left;
}
.float-right{
     float: right;
}
.w60{
     width: 60%; 
}
.w70{
     width: 70%; 
}
.w65{
     width: 65%; 
}
.w30{
     width: 30%;
}

.w40{
     width: 40%;
}
.margin-8{
     margin:8%
}
.margin-left-20{
     margin-left: 20%;
}
.margin-left-20px{
     margin-left: 20px;
}
.margin-left-5px{
     margin-left: 5px;
}
.margin-left-30px{
     margin-left: 30px;
}
.w50{
     width: 50%;
}
.line{
     color: rgb(196, 196, 196);
     border-bottom: 2px solid rgb(196, 196, 196);
     margin-left:20px;
     margin-right: 20px;
}
.margin-bottom-30{
     margin-bottom: 30%;
}
.margin-top-20{
     margin-top: 20%;
}
.margin-top-25{
     margin-top: 25%;
}
.margin-bottom-5{
     margin-bottom: 5%;
}
.margin-bottom-15{
     margin-bottom: 15%;
}
.margin-top-5{
     margin-top:5%;
}

.align-center{
     text-align: center;
}
#content-below-right p{
     display: inline;
}
.add-icon::before{
     content: "";
     display: block;
     background: url("icn_01.png") no-repeat;
     width: 12px;
     height: 11px;
     float: left;
     margin: 3px 6px 0 0;

}

ul{
     list-style:none;
     list-style-image: url('icn_left_content_list.png');
}
ul li{
     margin-bottom: 5px;
     font
}
.border-radius-5px{
     border-radius: 5px 5px 5px 5px;
}