*{
     margin: 0px;
     padding: 0px;
 }
*{
     font-family: Arial, Helvetica, sans-serif;
}
 img{
      background-size: 100%;
 }
.body__content{
     width: 363px ;
     height: 774px;
     margin-left: 40vw;
     /* padding: 16px 25px 25px 22px; */
}
.content{
     background-color: #E6F3FB;
     width: 316px;
     height:auto;
     margin: 0 0 0 22px;
}

.blogroll, .horoscopes, .get__news, .competitions{
     margin: 0px 9px 4px 11px;
     font-size: 16px;
}
.horoscopes__content , .get__news__content--first, .blogroll__content, .content__competitions{
     background-color: #FFF;
}
.line{
     border-bottom: 5px solid #F7A418;
     margin-bottom: 0px;
     margin-top:0px;
     padding-top:2px;
}
.float__left{
     float: left;
}
.float__right{
     float: right;
}
.clear{
     clear:both;
}
/*css blogroll */
.blogroll__content--img{
     width: 50%;
     margin-top: 7px;
     margin-left: 8px;
}
.blogroll__content--img img{
     width:156px;
     height:81px;
}
.blogroll__content--description__img{
     width:37%;
     margin-top: 7px;
     margin-left: 15px;

}
.blogroll__content--description__img p{
     margin:0px;
     font-size: 12px;
}
.blogroll__content--title__img{
     color: #0A6395;
}
.blogroll__content--first{
     margin-bottom: 12px;
}

.blogroll__content--second{
     color: #0A6395;
      font-size: 15px;
}

.blogroll__content--second p{
     background-color: #F9F1C2;
     font-size: 12px;
     margin:0px;
     padding: 9px 0px 9px 8px;
     border-bottom: 1px solid #FFF;
}
/* 24 */
/*CSS Horoscopes */
.horoscopes__content--first{
     margin-bottom: 15px;
}
.horoscopes__content--img{
     margin-top: 24px;
     width: 30%;
}
.horoscopes__content--img img{
     width: 76px;
     height: 85px;
     margin-left: 17px;
}

.horoscopes__content--description__img{
     margin-top: 24px;
     margin-left: 21px;
     width: 60%;
}
.horoscopes__content--description__img p{
     font-size: 11px;
     line-height: 14px;
     margin-top: 9px;
     margin-left: 3px;
     padding-right: 7px;
}
.horoscopes__content--description__img h4{
     font-size: 11px;
     font-weight: 100;
     color: #595959;
}
.horoscopes__content--title__img{
     font-size: 15px;    
}
.horoscopes__content--second{
     background-image: url("bg_horoscope_second_content_01.png") ;
     background-repeat: no-repeat;
     width: 100%;
     padding: 7px 0px 10px 23px;
     font-size: 11px;
}
.horoscopes__content--second p{
     margin:0px;
}
.horoscopes__content--second--link{
     font-weight: bold;
     text-decoration: none;
     color: #0A6395;
}

/*CSS Get news on the go */
.get__news__title{
     margin-top: 15px;
}
.get__news__text{
     width: 40%;
     margin: 24px 0px 0px 23px;
     font-size: 12px;
}

.p__content{
     width: 150px;
     height: auto;
     margin-bottom: 11px;
}
.get__news__text--link{
     color: #0A6395;
     text-decoration: none;
}
.get__news--img{
     height: 113px;
}
.get__news--img img{
     width: 116px;
     height: 100%;
}


/* CSS competitions */
.competitions{
     padding-bottom:20px;
}
.competitions__title{
     border-top: 1px solid #595959;
     padding-top: 6px;
     margin-top: 8px;
     margin-bottom: 0px;
}
.competitions__content{
     background-color: #FFF;
     border: 2px solid #595959;
     color:#4D5D73;
     font-size: 12px;
     padding: 12px 0px 9px 9px;
     
}
.competitions__content p{
     display: inline;
}