
body{
     background-color: black;
     color:white
}
.color__1{
     color:#595959;
}
.color__2{
     color:#767884;
}
#right-content{
     background-color: #232227;
     min-height: 50vh;
}
.clear{
     clear: both;
 }
.float-left{
     float: left;
}
.float-right{
     float: right;
}
.w60{
     width: 60%; 
}
.w70{
     width: 70%; 
}
.w65{
     width: 65%; 
}
.w30{
     width: 30%;
}

.w40{
     width: 40%;
}
.margin-8{
     margin:8%
}
.margin-left-20{
     margin-left: 20%;
}
.margin-left-20px{
     margin-left: 20px;
}
.margin-left-5px{
     margin-left: 5px;
}
.margin-left-30px{
     margin-left: 30px;
}
.w50{
     width: 50%;
}
.line-left{
     color: #3E3E40;
     border-bottom: 0.5px dotted #3F3F41;
     margin-left: 20px;
     margin-right: 15px;
}
.line-right{
     border-bottom: 0.5px solid#353439;
     margin-left: 20px;
     margin-right: 15px;
}
.margin-bottom-30{
     margin-bottom: 30%;
}
.margin-top-20{
     margin-top: 20%;
}
.margin-top-25{
     margin-top: 25%;
}
.margin-bottom-5{
     margin-bottom: 5%;
}
.margin-bottom-15{
     margin-bottom: 15%;
}
.margin-top-5{
     margin-top:5%;
}
.margin-top-10{
     margin-top:10%;
}
.align-center{
     text-align: center;
}
.content-below-right{
     margin-left: 11%;
     
}
.content-below-right p{
     /* display: inline; */
     margin-bottom: -30px;
     
}
.line-height-15{
     line-height: 15px;
}
.add-icon::before{
     content: "";
     display: block;
     background: url("icn_01.png") no-repeat;
     width: 12px;
     height: 11px;
     float: left;
     margin: 3px 6px 0 0;

}

.list-info{
     list-style:none;
     list-style-image: url('icn_left_content_list.png');
     padding-left: 32px;
     color:#595959;
}
.list-info li{
     margin-bottom: 10px;

}
.border-radius-5px{
     border-radius: 5px 5px 5px 5px;
}